th, td {
    border: 1px solid black;
    padding: 3px;

 }

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: white;}

th {
    background-color: rgb(213, 198, 149);
    color: white;
}

section {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: relative;
}
